* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100dvh;
  body,
  #app {
    height: inherit;
  }
}
#app {
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
